.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds
.png
.docx
.csv
.html
.xlsx


# ignore everything in Outputs (only to be kept locally)
/outputs/**
# ignore everything in Figures (only to be kept locally)
/figures/**
# ignore everything in Figures (only to be kept locally)
/reports/**